.contact-sidebar {
    position: fixed; 
    right: 0;
    top: 50%; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; 
  }
  
  .contact-tab {
    writing-mode: vertical-rl; 
    background-color: #EF6D1C; 
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .contact-icons {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  /* Background Colors for Icons */
  .red-bg {
    background-color: #EF6D1C; /* Red for call */
  }
  .green-bg {
    background-color: #27ae60; /* Green for WhatsApp */
  }
  .blue-bg {
    background-color: #3498db; /* Blue for Skype */
  }
  .orange-bg {
    background-color: #EF6D1C; /* Orange for scroll up */
  }
  
  /* Hover Effect */
  .contact-item:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.read-btn{
    background-color: #EF6D1C !important;
}
.read-btn:hover{
    background-color: #27ae5f00 !important;
    border: 1px solid #000 !important;
}