.indo-card{
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.indo-card:hover{
    transform: translateY(-15px) !important;
    box-shadow: rgba(206, 103, 103, 0.66) 0px 0px 0px 0.5px inset, rgba(76, 28, 234, 0.733) 0px 40px 80px, rgba(208, 181, 181, 0.749) 0px 10px 30px !important;
}